#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
  margin: 20px 0;
}
.wrap {
  margin: 0 auto;
  max-width: 1240px;
}
img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
