body {
  max-width: 745px;
  width: 100%;
  margin:  0 auto;
}
.nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
  gap: 35px;
  font-weight: 600;
}
li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: black;
}
h1, h2, h3 {
  text-align: center;
  margin-bottom: 35px;
}
.active {
  color: rgb(171, 0, 0);
}
.pink {
  color: rgb(171, 0, 0);
}
.black {
  color: black;
}
